<div class="blog-masthead">
	<div class="container">
		<nav class="nav blog-nav">
      <%= nav_helper 'nav-link', 'span' %>

    	
    	<!-- code in app>>helpers>>application_helper -->
    	<%= login_helper "nav-link" %>
		</nav>
	</div>
</div>


