<div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>A person with Growth Mindset having 6+ years of experience in Unified Communications turned into Full Stack Web Developer (Ruby, Rails, JavaScript, React, HTML and CSS) and ready to grab new opportunities</p>
          </div>

          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled social-links">
              <li><a href="https://github.com/rajkumardas2701"><%= fa_icon "github" %></a></li>
              <li><a href="https://www.linkedin.com/in/rajkumar-das-41308961"><%= fa_icon "linkedin" %></a></li>
              <li><a href="https://twitter.com/Rajkuma58621299"><%= fa_icon "twitter" %></a></li>
            </ol>
          </div>
        </div>